
<ion-view view-title="{{activity.title}}">
  <ion-content>
    
  <div class="list card">

  	<div class="item item-avatar">
  		<img src="img/icon_activity_blu.png">
  		<h2>{{activity.title}}</h2>
  		<p>Thrust Area: IEG</p>
  	</div>

  	<div class="item item-body">
  	
  		<p>
  			<H3>Date: {{activity.start_date}} </H3>
  			<h3>Place: Mayaguez </h3>
  			<div class="card card">
  				<div class="item item-text-wrap card-custom">
  					<h2>Activity Info:</h2>
    				This is a basic Card which contains an item that has wrapping text.
 				 </div>
			</div>
  		</p>
  
  	</div>

  	<div class="item tabs tabs-secondary tabs-icon-left">
  		
  		<a class="tab-item " href="#" ng-click="upload_login()" style="font-size: 14px">
  			<i class="icon ion-upload"></i>
  			Upload Info
  		</a>
  		
  		<a class="tab-item" href={{"#/app/take-attendance/"+activity.activity_id}} style="font-size: 14px">
  			<i class="icon ion-checkmark-circled"> </i>
  			Take Attendance
  		</a>
  		<br><br>
  	</div>

  </div>
    
  </ion-content>
</ion-view>



