<ion-view view-title="Non-Member Attendance">
<ion-content>

<div class="list card">

  <div class="item item-body">


     <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="nonfirst_name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="nonlast_name">
      </label>
    </div>
    <a align="right" class="button icon-left ion-checkmark-round button-positive" ng-click="newUser(nonfirst_name,nonlast_name)" href={{"#/app/take-attendance/"+parametro}}>Confirm</a>



  
</div>


</div>

</ion-content>
</ion-view>




