
<ion-view view-title="Take Attendance">
  <ion-content>

  <div class="row">
    <div class="col col-90 " align="center">
      <br>

      <h2 class="custom-title">Attendance:</h2>
      <br>

     </div>

    </div>

  <div class="row">
    <div class="col col-90  " align="center">

      <a class="button button-large button-balanced" href={{"#/app/member/"+parametro}}>
        <i class="icon ion-checkmark-circled"></i> Member 
      </a><br><br>
    </div>
    <div class="col"></div>
  </div>


  <div class="row">
    <div class="col col-90 " align="center" >

      <a class="button button-large button-red" href="#/app/nonmember" >
        <i class="icon ion-plus-circled"></i> Non Member
      </a><br><br>
    </div>
    <div class="col"></div>
  </div>
    <div class="row">
    <div class="col col-90 " align="center" >
 <button class="button button-clear button-positive" ng-click="login()">  <i class="icon ion-android-exit"></i> <strong>Exit</strong></button>
 
    <br><br>
    </div>
    <div class="col"></div>
  </div>
  </ion-content>
</ion-view>